<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .center {
      display: flex;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="container center">
    {% if success_message %}
    <div class="alert alert-success" role="alert">
      {{ success_message }}
    </div>
    {% else %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="link">Link do Torrent:</label>
        <input type="text" class="form-control" id="link" name="link" required>
      </div>
      <div class="form-group">
        <label for="cont">Nome do Arquivo Final:</label>
        <input type="text" class="form-control" id="cont" name="cont" required>
      </div>
      <button type="submit" class="btn btn-primary">Baixar Torrent</button>
    </form>
    <div class="spinner-border text-primary" role="status" style="display:none;">
      <span class="sr-only">Loading...</span>
    </div>
    {% endif %}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
    $('form').submit(function() {
      $('.spinner-border').show();
    });
  </script>
</body>
</html>
